.App {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 600px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;

}

.product-details {
  padding: 32px;
  display: grid;
  align-items: space-between;
}

.product-category {
}

.product-title {

}

.product-description {

}

.product-price {

}

.product-price:first-child {

}

.product-price:last-child {

}


.attribution { 
  padding: 3px;
  font-size: 10px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}