.App {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
}

.product {
  display: grid;
  grid-template: 450px / 300px 300px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
}

picture {
display: flex;
}


.product-details {
  padding: 32px;
  display: grid;
  align-content: space-between;
}

.product-category {
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 12px;
  line-height: 11px;
}

.product-title {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: hsl(212, 21%, 14%);
}

.product-description {
  line-height: 23px;
  align-items:flex-start;
}

.product-price {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.product-price > span:first-child {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
}

.product-price > span:last-child {
  font-size: 12px;
  text-decoration: line-through;
  padding: auto 0px;
}

button  {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color:hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 8px;
}

button:active {
  background: hsl(156, 59%, 25%);
}

  @media only screen and (max-width: 445px) {
    .product {
      grid-template: 240px 370px / 343px;
    }
    
    .product-details {
      padding: 25px;
    }
    
    /* picture > * {
      height: auto; 
      width: 100%; 
      object-fit: cover;
    } */
  }